<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="msjPais" value="El código del país no es correcto"/>
    <add key="msjRol" value="El código del Rol no es correcto"/>
    <add key="msjFecha" value="Fecha no valida, se espera yyyy-MM-dd"/>
    <add key="msjNoRegistros" value="No se encontraron registros para los criterios establecidos"/>
    <add key="msjNoUsuario" value="No se encontró al usuario"/>
  </appSettings>
  <connectionStrings>
    <add name="cnxDialogoDesempenio" connectionString="Data Source=BELCORP_DB01;Initial Catalog=ESE_DIALOGODESEMPENIO;Uid=esedialogo;Pwd=esemain;pooling=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
    </serviceHostingEnvironment>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name=""
        helpEnabled="true"
        automaticFormatSelectionEnabled="false"
        defaultOutgoingResponseFormat ="Json">
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
