
.perfil1
{
	width:697px;
	height:587px;
	margin: 0 auto 0 auto;
}

.perfil1va
{
	width:697px;
	height:619px;
	margin: 0 auto 0 auto;
}

.contpf
{
	width:697px;
	height:48px;
	float:left;
	margin-top:9px;
}

.dentropf
{
	width:303px;
	height:48px;
	float:left;
	margin-left:12px;
}

.dentropf2
{
	width:584px;
	height:48px;
	float:left;
	margin-left:12px;
}


.pf1
{
	width:303px;
	height:16px;
	float:left;
}

.pf1 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#4B5966;
}

.pf20
{
	width:390px;
	height:16px;
	float:left;
}

.pf20 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#4B5966;
}

.pf2
{
	width:303px;
	height:16px;
	float:left;
}

.u1
{
	width:47px;
	height:16px;
	float:left;
}

.u1 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#4B5966;
}

.u2
{
	width:26px;
	height:16px;
	float:left;
}

.u2 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#4B5966;
}

.u3
{
	width:66px;
	height:16px;
	float:left;
}

.u3 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#4B5966;
}

.u4
{
	width:164px;
	height:16px;
	float:left;
}

.u4 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#4B5966;
}

.u6
{
	width:164px;
	height:16px;
	float:left;
}

.u6 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#4B5966;
}

.u5
{
	width:191px;
	height:16px;
	float:left;
}

.u5 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#4B5966;
}

.u6
{
	width:248px;
	height:16px;
	float:left;
}

.u6 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#4B5966;
}

.u7
{
	width:89px;
	height:16px;
	float:left;
}

.u7 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#4B5966;
}

.contegenperfil
{
	width:697px;
	height:535px;
	float:left;
	margin-top:20px;
}


.tado2
{
	width:697px;
	height:16px;
	float:left;
	margin-top:20px;
}

.t1
{
	width:99px;
	height:16px;
	border-right:1px solid #333333;
	float:left;
	margin-left:10px;
}

.t1 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#6C1E73;
	margin-top:2px;
	margin-left:3px;
}

.t2
{
	width:144px;
	height:16px;
	border-right:1px solid #333333;
	float:left;
}

.t2 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#333333;
	text-decoration:underline;
	margin-top:2px;
	margin-left:5px;
}

.t3
{
	width:115px;
	height:16px;
	border-right:1px solid #333333;
	float:left;
}

.t3 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#333333;
	text-decoration:underline;
	margin-top:2px;
	margin-left:7px;
}

.t4
{
	width:115px;
	height:16px;
	float:left;
}

.t4 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#333333;
	text-decoration:underline;
	margin-top:2px;
	margin-left:7px;
}

.t6
{
	width:99px;
	height:16px;
	border-right:1px solid #333333;
	float:left;
	margin-left:10px;
}

.t6 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	text-decoration:underline;
	color:#333333;
	margin-top:2px;
	margin-left:3px;
}


.t7
{
	width:115px;
	height:16px;
	float:left;
}

.t7 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#6C1E73;
	margin-top:2px;
	margin-left:3px;
}

.tit
{
	width:697px;
	height:16px;
	float:left;
	margin-top:20px;
}

.tit p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#4B5966;
	margin-top:2px;
	margin-left:13px;
}

.tit2
{
	width:697px;
	height:23px;
	float:left;
	margin-top:10px;
}

.pin4
{
	width:55px;
	height:23px;
	margin-left:15px;
	float:left;
}

.pin4 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#6C1E72;
	margin-top:5px;
	float:left;
}

.barping
{
	width:132px;
	height:23px;
	float:left;
}

.stiloborde
{
	border:1px solid #999999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#6C1E72;
}

.tit3
{
	width:697px;
	height:16px;
	float:left;
	margin-top:10px;
}

.tit3 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#4B5966;
	margin-top:2px;
	margin-left:13px;
}


.concuadrop2
{
	width:697px;
	height:158px;
	float:left;
	margin-top: 10px;
	margin-bottom:5px;
}

.verarchi2
{
	width:64px;
	height:16px;
	margin-left:13px;
	float:left;
}

.verarchi2 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	text-decoration:underline;
	color:#6C1E72;
	float:left;
}

.tit4
{
	width:697px;
	height:16px;
	float:left;
	margin-top:5px;
}

.popcondiciones
{
	width:697px;
	height:455px;
	margin: 0 auto 0 auto;
}

.contvertab
{
	width:697px;
	height:220px;
	float:left;
	margin-top:10px;
}

.contvertab2
{
	width:697px;
	height:235px;
	float:left;
	margin-top:10px;
}

.pantesnovo
{
	width:697px;
	height:23px;
	float:left;
	margin-top:5px;
}

.pantesnovo p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#333333;
	float:left;
	margin-left:13px;
}

.pantesmenu
{
	width:697px;
	height:26px;
	float:left;
	margin-top:5px;
	background-image:url(Matriz/fndmenuante.png);
}

.meu1
{
	width:90px;
	height:26px;
	float:left;
	margin-left:3px;
	margin-right:3px;
	background-image:url(Matriz/btnantes2.png);
}

.meu2
{
	width:90px;
	height:26px;
	float:left;
	margin-right:3px;
	background-image:url(Matriz/btndurante1.png);
}

.meu3
{
	width:90px;
	height:26px;
	float:left;
	margin-right:3px;
	background-image:url(Matriz/btndespues1.png);
}

.pantes2
{
	width:697px;
	height:23px;
	float:left;
	margin-top:15px;
}

.pantes2 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#333333;
	float:left;
	margin-left:13px;
}

.pantes3
{
	width:697px;
	height:20px;
	float:left;
}

.pantes3 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#4B5966;
	float:left;
	margin-left:13px;
}

.pantes4
{
	width:697px;
	height:20px;
	float:left;
	margin-top:5px;
}

.pantes4 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#4B5966;
	float:left;
	margin-left:13px;
}

.pantes5
{
	width:697px;
	height:23px;
	float:left;
	margin-top:8px;
}

.pantes5 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#333333;
	float:left;
	margin-left:13px;
}

.conmetes
{
	width:697px;
	height:143px;
	float:left;
}

.va1
{
	width:550px;
	height:143px;
	float:left;
	margin-left:13px;
	background-image:url(Matriz/antes1.png);
}

.conmetes2
{
	width:697px;
	height:334px;
	float:left;
}

.va2
{
	width:550px;
	height:334px;
	float:left;
	margin-left:13px;
	background-image:url(Matriz/antes2.png);
}

.conmetes3	
{
	width:697px;
	height:136px;
	float:left;
	margin-top:5px;
}

.va3
{
	width:550px;
	height:136px;
	float:left;
	margin-left:13px;
	background-image:url(Matriz/durante1.png);
}


.perfil12
{
	width:697px;
	height:995px;
	margin: 0 auto 0 auto;
}

.conmetes3
{
	width:697px;
	height:194px;
	float:left;
}

.va3
{
	width:550px;
	height:194px;
	float:left;
	margin-left:13px;
	background-image:url(Matriz/antes3.png);
}

.region2
{
	width:697px;
	height:54px;
	border-top:1px solid #A2ACB1;
	margin-top:15px;

}

.region4
{
	width:697px;
	height:29px;
	border-top:1px solid #A2ACB1;
	margin-top:10px;

}

.pantesregi
{
	width:697px;
	height:16px;
	float:left;
	margin-top:10px;
}

.pantesregi p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#333333;
	float:left;
	margin-left:13px;
}

.pantesregi2
{
	width:697px;
	height:16px;
	float:left;
	margin-top:5px;
}

.viñec
{
	width:10px;
	height:16px;
	float:left;
	margin-left:13px;
	margin-right:10px;
	margin-top:3px;
	background-image:url(Matriz/viñetac.png);
	background-repeat:no-repeat;
}

.viñec2
{
	width:10px;
	height:10px;
	float:left;
	background-image:url(Matriz/viñetac.png);
}

.ñeta1
{
	width:70px;
	height:18px;
	float:left;
}

.ñeta1 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#6C1E72;
	float:left;
}

.ñeta2
{
	width:91px;
	height:16px;
	float:left;
}

.ñeta2 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#6C1E72;
	float:left;
}

.ñeta3
{
	width:116px;
	height:16px;
	float:left;
}

.ñeta3 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#6C1E72;
	float:left;
}

.region3
{
	width:697px;
	height:54px;
	border-top:1px solid #A2ACB1;
	margin-top:15px;

}

.pantesregi22
{
	width:697px;
	height:16px;
	float:left;
	margin-top:3px;
}

.pantesregi22 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#6C1E72;
	float:left;
	margin-left:13px;
}

.perfil13
{
	width:697px;
	height:445px;
	margin: 0 auto 0 auto;
}

.meu4
{
	width:90px;
	height:26px;
	float:left;
	margin-left:3px;
	margin-right:3px;
	background-image:url(Matriz/btnantes1.png);
}

.meu5
{
	width:90px;
	height:26px;
	float:left;
	margin-right:3px;
	background-image:url(Matriz/btndurante2.png);
}

.meu6
{
	width:90px;
	height:26px;
	float:left;
	margin-right:3px;
	background-image:url(Matriz/btndespues2.png);
}

.conteficha
{
	width:739px;
	height:330px;
	margin: 0 auto 0 auto;
}

.ptficha_1
{
	width:168px;
	height:330px;
	float:left;
	background-image:url(Matriz/fnd_ficha.png);
}

.ptficha_2
{
	width:571px;
	height:330px;
	float:left;
}

.dentro1fich
{
	width:160px;
	height:180px;
	float:left;
	margin-left:8px;
}

.txfich1
{
	width:160px;
	height:16px;
	float:left;
}

.txfich1 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#4B5966;
	float:left;
}

.txfich2
{
	width:160px;
	height:16px;
	float:left;
	margin-bottom:4px;
}

.txfich2 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#6C1E72;
	float:left;
}

.ficha2ptdne
{
	width:563px;
	height:323px;
	float:left;
	margin-top:7px;
	margin-left:8px;
}

.fichmanu
{
	width:563px;
	height:26px;
	float:left;
	background-image:url(Matriz/fndmenuante.png);
}

.bntfi1
{
	width:137px;
	height:26px;
	background-image:url(Matriz/f1.png);
	float:left;
	margin-left:3px;
}

.bntfi2
{
	width:118px;
	height:26px;
	background-image:url(Matriz/f22.png);
	float:left;
	margin-left:3px;
}

.bntfi3
{
	width:103px;
	height:26px;
	background-image:url(Matriz/f33.png);
	float:left;
	margin-left:3px;
}

.bntfi4
{
	width:137px;
	height:26px;
	background-image:url(Matriz/f11.png);
	float:left;
	margin-left:3px;
}

.bntfi5
{
	width:118px;
	height:26px;
	background-image:url(Matriz/f2.png);
	float:left;
	margin-left:3px;
}

.bntfi6
{
	width:103px;
	height:26px;
	background-image:url(Matriz/f3.png);
	float:left;
	margin-left:3px;
}

.bloq1
{
	width:258px;
	height:275px;
	float:left;
	margin-top:22px;
	margin-left:3px;
}

.bloq2
{
	width:296px;
	height:275px;
	float:left;
	margin-top:22px;
	margin-left:3px;
}

.blotx1
{
	width:258px;
	height:18px;
	float:left;
	margin-bottom:8px;
}

.blotx1 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#3E548E;
	float:left;
}

.blotx2
{
	width:296px;
	height:18px;
	float:left;
	margin-bottom:8px;
}

.blotx2 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#4B5966;
	float:left;
}

.blotx3
{
	width:258px;
	height:46px;
	float:left;
	margin-bottom:8px;
}

.blotx3 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#3E548E;
	float:left;
}

.blotx4
{
	width:296px;
	height:46px;
	float:left;
	margin-bottom:8px;
}

.blotx4 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#4B5966;
	float:left;
}

.contvisitaevo
{
	width:697px;
	height:407px;
	margin: 0 auto 0 auto;
}

.visievo
{
	width:697px;
	height:23px;
	float:left;
	margin-bottom:10px;
}

.visievo p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#333333;
	float:left;
	margin-left:13px;
}

.barvisievo
{
	width:697px;
	height:19px;
	float:left;
	margin-top:10px;
	border-bottom:1px solid #A2ACB1;
}

.evop
{
	width:91px;
	height:16px;
	border-right:1px solid #333333;
	float:left;
	margin-left:8px;
}

.evop p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#465FA0;
	margin-top:2px;
	margin-left:3px;
}

.evop4
{
	width:91px;
	height:16px;
	border-right:1px solid #333333;
	float:left;
	margin-left:8px;
}

.evop4 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	color:#333333;
	margin-top:2px;
	margin-left:3px;
}

.evop1
{
	width:65px;
	height:16px;
	border-right:1px solid #333333;
	float:left;
	margin-left:8px;
}

.evop1 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	color:#333333;
	margin-top:2px;
	margin-left:3px;
}

.evop2
{
	width:63px;
	height:16px;
	float:left;
	margin-left:8px;
}

.evop2 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	color:#333333;
	margin-top:2px;
	margin-left:3px;
}

.evop3
{
	width:65px;
	height:16px;
	border-right:1px solid #333333;
	float:left;
	margin-left:8px;
}

.evop3 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#465FA0;
	margin-top:2px;
	margin-left:3px;
}

.evop5
{
	width:63px;
	height:16px;
	float:left;
	margin-left:8px;
}

.evop5 p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#465FA0;
	margin-top:2px;
	margin-left:3px;
}

.subcontevo
{
	width:697px;
	height:215px;
	float:left;
	margin-top:3px;
}

.subevo1
{
	width:181px;
	height:215px;
	float:left;
	background-image:url(Matriz/evofndpt1.png);
}

.subevo2
{
	width:516px;
	height:215px;
	float:left;
}

.e1den
{
	width:181px;
	height:23px;
	float:left;
	margin-top:5px;
	margin-bottom:7px;
}

.e1den p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#6C1E73;
	float:left;
	margin-top:2px;
	margin-left:12px;
}

.e2eden
{
	width:181px;
	height:13px;
	float:left;
	margin-bottom:7px;
}

.radio1
{
	width:13px;
	height:13px;
	float:left;
	margin-left:15px;
	margin-right:8px;
	background-image:url(Matriz/radio.png);
}

.radio2
{
	width:13px;
	height:13px;
	float:left;
	margin-left:36px;
	margin-right:8px;
	background-image:url(Matriz/radio.png);
}

.desatio
{
	width:145px;
	height:13px;
	float:left;
}

.desatio p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#4B5966;
	float:left;
	margin-top:0;
}

.desatio1
{
	width:122px;
	height:13px;
	float:left;
}

.desatio1 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#4B5966;
	float:left;
	margin-top:0;
}

.atio1
{
	width:502px;
	height:18px;
	float:left;
	margin-left:14px;
	margin-top:6px;
}

.atio1 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333333;
	float:left;
	margin-top:0;
}

.atio2
{
	width:462px;
	height:32px;
	float:left;
	margin-left:14px;
	padding-right:40px;
	margin-bottom:10px;
}

.atio2 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#4B5966;
	float:left;
	margin-top:0;
}

.barfina
{
	width:697px;
	height:21px;
	float:left;
	margin-top:8px;
}

.bntconti
{
	width:78px;
	height:21px;
	float:right;
	background-image:url(Matriz/btncontinuar.png);
	margin-right:16px;
}

.barnego
{
	width:697px;
	height:18px;
	float:left;
	margin-top:10px;
}

.barnego p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#6C1E72;
	float:left;
	margin-left:13px;
}

.barnego1
{
	width:697px;
	height:18px;
	float:left;
	margin-top:5px;
}

.barnego1 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333333;
	float:left;
	margin-left:13px;
}

.barnego2
{
	width:682px;
	height:32px;
	float:left;
	padding-right:15px;
}

.barnego2 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#4B5966;
	float:left;
	margin-left:13px;
}

.vis1
{
	width:697px;
	height:77px;
	float:left;
	margin-top:19px;
}

.vis2
{
	width:349px;
	height:77px;
	float:left;
	margin-left:13px;
	margin-right:25px;
}

.vis3
{
	width:308px;
	height:77px;
	float:left;
}

.vistx1
{
	width:349px;
	height:20px;
	float:left;
	margin-bottom:3px;
}

.vistx1 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#22B5E5;
	float:left;
}

.vis5
{
	width:57px;
	height:41px;
	float:left;
	border-right:1px solid #333333;
	margin-right:17px;
}

.vis6
{
	width:233px;
	height:41px;
	float:left;
}
/* Ficha Personal */

.tablaFichaPersonal td
{
	height:25px;
	padding-left:10px
}

.labelDescripcion
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#3E548E;
	vertical-align:middle;
}

.labelInfo{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#4B5966;
	vertical-align:middle;
}

.labelTitulo
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#612470;
	vertical-align:middle;
}

.labelTituloPrincipal
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#612470;
}

.labelTituloPlomo
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666;
}
/*FIN Ficha Personal*/
